lombok.log.fieldisstatic = false

#lombok.log.custom.declaration = java.util.logging.Logger java.util.logging.Logger.getLogger(NAME)(TOPIC)
#lombok.log.custom.declaration=log.Log log.Log.getLogger(NAME)(TOPIC)



#lombok.log.custom.declaration = java.util.logging.Logger java.util.logging.Logger.getLogger(NAME)(TOPIC)